{% extends 'base.html.twig' %}

{% block title %}Podgląd weryfikacji dwuetapowej{% endblock %}

{% block body %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="h3">Informacje o sposobie weryfikacji dwuetapowej</h1>

                <a href="{{ path('app_2fa_manager') }}" class="btn btn-sm btn-secondary">Powrót</a>
            </div>

            <table class="table table-bordered mt-3">
                {% if tfa.name is not empty %}
                    <tr>
                        <th>Nazwa</th>
                        <td>
                            {{ tfa.name }}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Rodzaj</th>
                    <td>
                        {% if tfa.method == "totp" %}
                            Aplikacja mobilna
                        {% elseif tfa.method == "u2f" %}
                            Sprzętowy klucz zabezpieczień
                        {% elseif tfa.method == "backup_code" %}
                            Kody zapasowe
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Data utworzenia</th>
                    <td>{{ tfa.registerDate|date("Y.m.d H:i:s", "Europe/Warsaw") }}</td>
                </tr>
                {% if tfa.method == 'backup_code' %}
                    <tr>
                        <th>Kody zapasowe</th>
                        <td>
                            {% for code in tfa.data %}
                                <div>{{ code }}</div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}
