{% extends 'base.html.twig' %}

{% block title %}Konfiguracja weryfikacji dwuetapowej{% endblock %}

{% block body %}
    <div class="card mt-3">
        <div class="card-body">
            <h1 class="h3">Konfiguracja sprzętowego klucza zabezpieczeń</h1>

            <form id="form-u2f" method="POST">
                <input type="hidden" name="register_data" id="input-register-data" value="{{ register_data }}"/>
                <input type="hidden" name="register_response" id="input-register-response"/>

                <div class="form-row">
                    <div class="col-12 col-md-2 col-form-label">
                        <label for="input-name">Nazwa</label>
                    </div>
                    <div class="col-12 col-md-10">
                        <input type="text" id="input-name" name="name" class="form-control"/>
                        <small>Nazwij klucz, aby ułatwić jego identyfikację</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-md-2 col-form-label">
                        Postęp rejestracji
                    </div>
                    <div class="col-12 col-md-10">
                        <div class="d-flex align-items-center h-100">
                            <div id="registration-progress-bar" class="progress w-100" style="height: 20px">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="transition: width 0.5s linear; width: 0"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="offset-md-2 col-12 col-md-10">
                        <div id="registration-feedback" class="small"></div>
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="offset-md-2 col-12 col-md-10">
                        <button type="button" id="button-apply" class="btn btn-primary">Zatwierdź</button>
                    </div>
                </div>
            </form>

            <div id="alert-box">
            </div>
        </div>
    </div>
{% endblock %}
