{% extends 'base.html.twig' %}

{% block title %}Menadżer weryfikacji dwuetapowej{% endblock %}

{% block body %}
    <div class="card mt-3">
        <div class="card-body">
            <form method="POST">
                <div class="d-flex justify-content-between">
                    <h1 class="h3">Menadżer weryfikacji dwuetapowej</h1>

                    {% if app.user.twoFactorEnabled %}
                        <div class="btn-group">
                            <a href="{{ path('app_2fa_configure') }}" class="btn btn-primary">Dodaj</a>
                            <button type="submit" name="action" value="disable" class="btn btn-danger">Wyłącz</button>
                        </div>
                    {% else %}
                        <a href="{{ path('app_2fa_configure') }}" class="btn btn-primary">Włącz</a>
                    {% endif %}
                </div>
            </form>

            {% if app.user.twoFactorEnabled %}
                <table class="table table-striped mt-3">
                    <tr>
                        <th>Nazwa</th>
                        <th>Typ</th>
                        <td></td>
                    </tr>
                    {% for tfa in two_factor_auths %}
                        <tr>
                            <td>
                                {{ tfa.name }}
                            </td>
                            <td>
                                {% if tfa.method == "totp" %}
                                    Aplikacja mobilna
                                {% elseif tfa.method == "u2f" %}
                                    Sprzętowy klucz zabezpieczień
                                {% elseif tfa.method == "backup_code" %}
                                    Kody zapasowe
                                {% endif %}
                            </td>
                            <td>
                                <form method="POST">
                                    <input type="hidden" name="identifier" value="{{ tfa.id }}"/>
                                    <div class="btn-group">
                                        <button type="submit" name="action" value="preview"  class="btn btn-sm btn-primary">Zobacz</button>
                                        <button type="submit" name="action" value="delete" class="btn btn-sm btn-danger" {% if tfa.method == "backup_code" %} disabled {% endif %}>Usuń</button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                Weryfikacja dwuetapowa nie została skonfigurowana na tym koncie. Wybierz metodę
            {% endif %}
        </div>
    </div>
{% endblock %}
