{% extends 'base.html.twig' %}

{% block title %}Konfiguracja weryfikacji dwuetapowej{% endblock %}

{% block body %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="h3">Konfiguracja weryfikacji dwuetapowej</h1>

                <a href="{{ path('app_2fa_manager') }}" class="btn btn-sm btn-secondary">Powrót</a>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-10 d-flex align-items-center">
                            Aplikacja mobilna do jednorazwych kodów (np. Google Authenticator)
                        </div>
                        <div class="col-12 col-md-2 mt-2 mt-md-0 d-flex align-items-center">
                            <a href="{{ path('app_2fa_configure_totp') }}" class="btn btn-sm btn-primary w-100">Wybierz</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-10 d-flex align-items-center">
                            Sprzętowy klucz zabezpieczeń
                        </div>
                        <div class="col-12 col-md-2 mt-2 mt-md-0 d-flex align-items-center">
                            <a href="{{ path('app_2fa_configure_u2f') }}" class="btn btn-sm btn-primary w-100">Wybierz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
