{% extends 'base.html.twig' %}

{% block title %}Konfiguracja weryfikacji dwuetapowej{% endblock %}

{% block body %}
    <div class="card mt-3 mb-3">
        <div class="card-body">
            <h1 class="h3">Konfiguracja weryfikacji dwuetapowej</h1>
            <div class="row mt-4">
                <div class="col-12 col-md-4 d-flex justify-content-center">
                    <img src="{{ totp_qr_source }}" alt="OTP QR code" class="mw-100"/>
                </div>
                <div class="col-12 col-md-8">
                    <form method="POST">
                        <div class="form-row">
                            <div class="col-12 col-md-2 col-form-label">
                                <label for="input-secret">Sekretny klucz</label>
                            </div>
                            <div class="col-12 col-md-10">
                                <input type="text" id="input-secret" name="secret" class="form-control" value="{{ totp_secret }}" readonly/>
                                <small>Zamiast skanowania kodu QR można przepisać ten kod</small>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="col-12 col-md-2 col-form-label">
                                <label for="input-name">Nazwa aplikacji</label>
                            </div>
                            <div class="col-12 col-md-10">
                                <input type="text" id="input-name" name="name" class="form-control"/>
                                <small>Nazwij aplikację, żeby ułatwić identyfikację urządzenia</small>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="col-12 col-md-2 col-form-label">
                                <label for="input-code">Jednorazowy kod</label>
                            </div>
                            <div class="col-12 col-md-10">
                                <input type="text" id="input-code" name="code" class="form-control" maxlength="6"/>
                                <small>Przepisz wygenerowany jednorazowy kod przez aplikację</small>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="offset-md-2 col-12 col-md-10">
                                <button type="submit" class="btn btn-primary">Zatwierdź</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-12 offset-md-4 col-md-8">
{#                    {% if error %}#}
{#                        <div class="alert alert-danger mt-3 d-flex align-self-end"></div>#}
{#                    {% endif %}#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
