{% extends 'base.html.twig' %}

{% block title %}Zmiana hasła{% endblock %}

{% block body %}
    <div class="card mt-3">
        <div class="card-body">
            <h1 class="h3">Zmiana hasła</h1>

            <form id="form-u2f" method="POST">
                <div class="form-row">
                    <div class="col-12 col-md-2 col-form-label">
                        <label for="input-name">Stare hasło</label>
                    </div>
                    <div class="col-12 col-md-10">
                        <input type="password" name="old_password" class="form-control"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-md-2 col-form-label">
                        <label for="input-name">Nowe hasło</label>
                    </div>
                    <div class="col-12 col-md-10">
                        <input type="password" name="new_password" class="form-control"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-md-2 col-form-label">
                        <label for="input-name">Powtórz hasło</label>
                    </div>
                    <div class="col-12 col-md-10">
                        <input type="password" name="repeated_password" class="form-control"/>
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="offset-md-2 col-12 col-md-10">
                        <button type="submit" class="btn btn-primary">Zatwierdź</button>
                    </div>
                </div>
            </form>

            {% if alert is defined %}
                <div id="alert-box" class="mt-2 alert
                    {% if success %} alert-success
                    {% else %} alert-danger
                    {% endif %}
                ">

                    {{ alert }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
