{% extends 'security/base.html.twig' %}

{% block title %}Weryfikacja dwuetapowa{% endblock %}

{% block body %}
    <h3 class="mb-3 font-weight-normal">Weryfikacja dwuetapowa</h3>
    <div class="mb-3">
        <div class="mb-3">
            Przygotuj klucz zabezpieczeń U2F. Następnie proszę wybrać przycisk.
        </div>
        <form id="form-authenticate-u2f" method="POST">
            <input type="hidden" name="authenticate_data" id="input-authenticate-data" value="{{ authenticate_data }}"/>
            <input type="hidden" name="authenticate_response" id="input-authenticate-response"/>
            <button type="button" id="button-authenticate" class="btn btn-primary">Uwierzytelnij</button>
        </form>
        <div class="small" id="u2f-authenticate-feedback"></div>
    </div>

    <a href="{{ path('app_security_2fa_choice') }}">Wybierz inny sposób weryfikacji dwuetapowej</a>
{% endblock %}
