{% extends 'security/base.html.twig' %}

{% block title %}Weryfikacja dwuetapowa{% endblock %}

{% block body %}
    <h3 class="mb-3 font-weight-normal">Weryfikacja dwuetapowa</h3>
    <div class="mb-3">
        <label for="input-code">Wypisz 8 znakowy kod zapasowy</label>
        <form method="POST" class="mt-2">
            <input type="text" name="code" id="input-code" class="form-control" maxlength="8"/>
            <button type="submit" class="btn btn-primary mt-3">Zatwierdź</button>
        </form>
    </div>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <a href="{{ path('app_security_2fa_choice') }}">Wybierz inny sposób weryfikacji dwuetapowej</a>
{% endblock %}
