{% extends 'security/base.html.twig' %}

{% block title %}Weryfikacja dwuetapowa{% endblock %}

{% block body %}
    <h3 class="mb-3 font-weight-normal">Weryfikacja dwuetapowa</h3>
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
                <span>Jednorazowy kod z aplikacji</span>
                <a href="{{ path('app_security_2fa_totp') }}" class="btn btn-primary">Wybierz</a>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
                <span>Kod zapasowy</span>
                <a href="{{ path('app_security_2fa_backup_code') }}" class="btn btn-primary">Wybierz</a>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
                <span>Sprzętowy klucz zabezpieczeń</span>
                <a href="{{ path('app_security_2fa_u2f') }}" class="btn btn-primary">Wybierz</a>
            </div>
        </div>
    </div>

    <a href="{{ path('app_security_logout') }}">Anuluj weryfikację dwuetapową</a>
{% endblock %}
