<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="security-container">
            <div class="card">
                <div class="card-body">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
