{% extends 'security/base.html.twig' %}

{% block title %}Logowanie{% endblock %}

{% block body %}
    <form method="post">
        <h3 class="mb-3 font-weight-normal">Logowanie</h3>

        <div class="row mt-2">
            <div class="col-12">
                <label for="input-email">Nazwa użytkownika</label>
                <input type="text" value="{{ last_username }}" name="username" id="input-email" class="form-control" required autofocus>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <label for="input-password">Hasło</label>
                <input type="password" name="password" id="input-password" class="form-control" required>
            </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}

        <div class="row mt-2">
            <div class="col-12">
                <button class="btn btn-primary" type="submit">
                    Zaloguj się
                </button>
            </div>
        </div>

        {% if error %}
            <div class="alert alert-danger mt-2">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </form>
{% endblock %}
