{% extends 'base.html.twig' %}

{% block title %}Zadania{% endblock %}

{% block body %}
    <div class="card mt-3">
        <div class="card-body">
            <form method="POST">
                <div class="d-flex justify-content-between">
                    <h1 class="h3">Zadania</h1>

                    <div class="btn-group">
                        <a href="{{ path('app_task_create') }}" class="btn btn-primary">Dodaj</a>
                    </div>
                </div>
            </form>

            <table class="table table-striped mt-3">
                <tr>
                    <th>Nazwa</th>
                    <td></td>
                </tr>
                {% for task in tasks %}
                    <tr>
                        <td>
                            {{ task.name }}
                        </td>
                        <td>
                            <form method="POST">
                                <input type="hidden" name="identifier" value="{{ task.id }}"/>
                                <div class="btn-group">
                                    <a href="{{ path('app_task_preview', {'id': task.id}) }}" class="btn btn-sm btn-primary">Zobacz</a>
                                    <a href="{{ path('app_task_edit', {'id': task.id}) }}" class="btn btn-sm btn-success">Edytuj</a>
                                    <a href="{{ path('app_task_delete', {'id': task.id}) }}" class="btn btn-sm btn-danger">Usuń</a>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
