{% extends 'base.html.twig' %}

{% block title %}
    {% if new %}
        Nowe zadanie
    {% else %}
        Edycja zadania
    {% endif %}
{% endblock %}

{% block body %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="h3">
                    {% if new %}
                        Nowe zadanie
                    {% else %}
                        Edycja zadania
                    {% endif %}
                </h1>

                <a href="{{ path('app_main') }}" class="btn btn-sm btn-secondary">Powrót</a>
            </div>

            <form id="form-u2f" method="POST">
                <div class="form-row">
                    <div class="col-12 col-md-2 col-form-label">
                        <label>Nazwa zadania</label>
                    </div>
                    <div class="col-12 col-md-10">
                        <input type="text" name="name" class="form-control" value="{{ name|default }}"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-md-2 col-form-label">
                        <label>Opis zadania</label>
                    </div>
                    <div class="col-12 col-md-10">
                        <textarea name="description" class="form-control" rows="6">{{ description|default }}</textarea>
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="offset-md-2 col-12 col-md-10">
                        <button type="submit" class="btn btn-primary">Zatwierdź</button>
                    </div>
                </div>
            </form>

            {% if alert is defined %}
                <div id="alert-box" class="mt-2 alert
                    {% if success %} alert-success
                    {% else %} alert-danger
                    {% endif %}
                ">

                    {{ alert }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
