{% extends 'base.html.twig' %}

{% block title %}Podgląd zadania{% endblock %}

{% block body %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="h3">Podgląd zadania</h1>

                <a href="{{ path('app_main') }}" class="btn btn-sm btn-secondary">Powrót</a>
            </div>

            <div class="font-weight-bold mt-2">{{ task.name }}</div>
            <pre class="mt-2">{{ task.description }}</pre>
        </div>
    </div>
{% endblock %}
