@import "~bootstrap/scss/bootstrap.scss";

.security-container {
	min-width: 600px;
	//min-height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@include media-breakpoint-down(xs) {
	.security-container {
		min-width: 90%;
	}
}
